<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>通过$parent $children ref传值</title>
    <script src="vue2.6.11.js"></script>
</head>

<body>
    <template id="hello">
        <div>
            <h1>我是子组件</h1>
            <p>父组件中的值：{{parentData}}</p>
            <input type="text" v-model="msg" @input='onInput'>
        </div>
    </template>


    <div id="app">
        <hello ref="hello"></hello>
        <hr>
        <h1>我是父组件</h1>
        <p>子组件中的值：{{sonData}}</p>
        <input type="text" v-model="msg" @input='onInput'>
    </div>
</body>

</html>

<script>
    let hello = {
        template: '#hello',
        data() {
            return {
                msg: '',
                parentData: ''
            }
        },
        methods: {
            onInput: function (e) {
                let value = e.target.value;
                this.$parent.update(value);
            },
            update: function (value) {
                this.parentData = value;
            }
        }
    };


    // 挂载了el的实例
    new Vue({
        el: '#app',
        components: {
            hello
        },
        data() {
            return {
                msg: '',
                sonData: ''
            }
        },
        methods: {
            onInput: function (e) {
                let value = e.target.value;
                // console.log(this.$children);
                this.$refs.hello.update(value);
            },
            // 传给子组件的父组件方法，在子组件中被调用
            update: function (value) {
                this.sonData = value;
            }
        }
    });
</script>